cmake_install.cmake
gomoku.sublime-project
Makefile
CMakeCache.txt
CMakeFiles
a.out
*.o
*~
*.a
*.so
\#*#
.#*
gomoku_client
gomoku_server
gomoku_ai
build
*.dpd
*.autosave
*.exe
gui_client
SFML
gomoku.sublime-workspace
lib
*.layout
*.depend
build_sfml
.idea
.vs
Debug
gomoku.VC.opendb
*.sdf
*.cd
*.user
x64